@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('font-awesome.min.css');


@keyframes fadeIn {
 from { 
   opacity:0;
    } 
    to 
    { 
      opacity:1;
       }
}

html {
   animation: 0.5s ease-out 0s 1 fadeIn;

  --main-bg-color : #30343f;
  --left-border-color : #ccc;
  --text-main-color : #ccc;
  --text-secondary-color : #888;
  --hover-color : #25292f;
  --hover-text-main : #000;
  --hover-text-secondary : #000;

  background-color: var(--main-bg-color);
  /*background-image: -webkit-linear-gradient(top, var(--main-bg-color),var(--gradient-end-color));*/
  height: 100%;
  vertical-align: middle;
  /*white-space: nowrap;*/
  color : var(--text-main-color);
}

body, table{
  font-family: 'Oxygen', sans-serif;
  height:100%;
}

.topleftbutton{
    padding: 10px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    z-index: 1;
    position: absolute;
}

.topleftbutton a{
  text-decoration: none;
  color : var(--text-main-color);
}

.topleftbutton:hover{
    background-color: var(--hover-color);
}


