@import url("common.css");

html{
  white-space: nowrap;
}

body, table{
  overflow: hidden;
}

.time {
  font-weight: bold;
  text-align: right;
  font-size: 10em;
}

#ampm{
  font-size:0.5em;
}

#date{
  font-size:2.5em;
}


#topsites{
  display: block;
  overflow: auto;
}

ul {
  list-style-type: none;
}

a .subtitle{
  color : var(--text-secondary-color);
  font-size:0.85em;
  font-style: italic; 
}

/*.subtitle:hover  {
  color : var(--hover-text-secondary);
}*/

span {
  /*Display the favicon only once*/
  background-repeat: no-repeat;
}

.listlink{
  display: block;
  transition: background-color 0.3s ease;
  /*transition: border-left 0.2s ease;*/
  padding: 10px;
  font-size: 1.35em;
  border-left: 2px solid var(--left-border-color);
  text-decoration: none;
  /*font-weight: bold;*/
  color : var(--text-main-color);
  /*Add ellipsis for text thats too long*/
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 24px;
}

.listlink:hover{
  background: var(--hover-color);
  /*color: var(--hover-text-main);*/
}




